/** Global variables **/
:root {
    /** Colors **/
    --primary-color-hs: 265, 100%;
    --primary-color-lighter: 90%;
    --primary-color-light: 70%;
    --primary-color-base: 50%;
    --primary-color-dark: 30%;
    --primary-color-darker: 10%;
    --accent-color-hs: 120, 100%;
    --accent-color-base: 50%;
    --accent-color-light: 65%;
    --accent-color-dark: 35%;
    --achromatic-color-hs: 265, 3%;
    --achromatic-color-lighter: 90%;
    --achromatic-color-light: 70%;
    --achromatic-color-base: 50%;
    --achromatic-color-dark: 30%;
    --achromatic-color-darker: 10%;
    --transparent-base: 50%;
    --transparent-light: 70%;
    --transparent-dark: 30%;
    --transparent-none: 0%;
    --white-color: #FFFFFF;
}

/** Global Styles **/
body {
    /** Fonts **/
    font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
}

/** Buttons **/
button {
    /** Remove default styles **/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /** Layout **/
    display: inline-block;
    padding: 0.6rem;
    margin: 0.1em;
    min-height: 1rem;
    border: 0;
    border-radius: 0;
    /** Fonts **/
    font-family: inherit;
    font-weight: 500;
}

button:focus {
    /** Outline **/
    outline: 0.2rem solid hsla(var(--primary-color-hs), var(--primary-color-base), var(--transparent-base));
}

button.contained {
    /** Container **/
    background-color: hsl(var(--primary-color-hs), var(--primary-color-base));
    color: var(--white-color);
}

button.contained:disabled {
    /** Container **/
    background-color: hsl(var(--achromatic-color-hs), var(--achromatic-color-base));
}

button.contained:hover:not(:disabled) {
    /** Overlay Shadow **/
    background-color: hsl(var(--primary-color-hs), var(--primary-color-light));
}

button.contained:active:not(:disabled) {
    /** Overlay Shadow **/
    background-color: hsl(var(--primary-color-hs), var(--primary-color-dark));
}

button.outlined {
    /** Border **/
    box-shadow: inset 0 0 0 0.1rem hsl(var(--primary-color-hs), var(--primary-color-base));
    color: hsl(var(--primary-color-hs), var(--primary-color-base));
    /** Remove background **/
    background-color: hsla(var(--primary-color-hs), var(--primary-color-base), var(--transparent-none));
}

button.outlined:disabled {
    /** Border **/
    box-shadow: inset 0 0 0 0.1rem hsl(var(--achromatic-color-hs), var(--achromatic-color-base));
    color: hsl(var(--achromatic-color-hs), var(--achromatic-color-base));
}

button.outlined:hover:not(:disabled) {
    /** Overlay Shadow **/
    background-color: hsla(var(--primary-color-hs), var(--primary-color-base), var(--achromatic-color-base));
}

button.outlined:active:not(:disabled) {
    /** Overlay Shadow **/
    background-color: hsla(var(--primary-color-hs), var(--primary-color-base), var(--achromatic-color-light));
}

button.flat {
    /** Overlay Shadow **/
    background-color: hsl(var(--achromatic-color-hs), var(--achromatic-color-light));
}

button.flat:disabled {
    /** Overlay Shadow **/
    background-color: hsl(var(--achromatic-color-hs), var(--achromatic-color-lighter));
}

button.flat:hover:not(:disabled) {
    /** Overlay Shadow **/
    background-color: hsl(var(--achromatic-color-hs), var(--achromatic-color-base));
}

button.flat:active:not(:disabled) {
    /** Overlay Shadow **/
    background-color: hsl(var(--achromatic-color-hs), var(--achromatic-color-dark));
}

/** RadioButton **/
div.radiogroup label {
    cursor: pointer;
    vertical-align: middle;
}

div.radiogroup label span {
    vertical-align: middle;
}

input[type="radio"] {
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.15em) solid hsl(var(--achromatic-color-hs), var(--achromatic-color-darker));
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
}

input[type="radio"]:checked {
    border: 0.4em solid hsl(var(--primary-color-hs), var(--primary-color-base));
}

input[type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.15em) solid hsla(var(--primary-color-hs), var(--primary-color-base), var(--transparent-base));
}

input[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) hsl(var(--achromatic-color-hs), var(--achromatic-color-light));
}

input[type="radio"]:disabled {
    border: max(2px, 0.15em) solid hsl(var(--achromatic-color-hs), var(--achromatic-color-light));
    box-shadow: none;
    cursor: not-allowed;
}

input[type="radio"]:checked:disabled {
    border: 0.4em solid hsl(var(--achromatic-color-hs), var(--achromatic-color-base));
}

input[type="radio"]:disabled+span {
    cursor: not-allowed;
}

/** CheckBox **/
div.checkboxgroup label {
    cursor: pointer;
    vertical-align: middle;
}

div.checkboxgroup label span {
    vertical-align: middle;
}

input[type="checkbox"] {
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.15em) solid hsl(var(--achromatic-color-hs), var(--achromatic-color-darker));
    border-radius: 0;
    width: 1.25em;
    height: 1.25em;
}

input[type="checkbox"]:checked {
    border: 0.4em solid hsl(var(--primary-color-hs), var(--primary-color-base));
}

input[type="checkbox"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.15em) solid hsla(var(--primary-color-hs), var(--primary-color-base), var(--transparent-base));
}

input[type="checkbox"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) hsl(var(--achromatic-color-hs), var(--achromatic-color-light));
}

input[type="checkbox"]:disabled {
    border: max(2px, 0.15em) solid hsl(var(--achromatic-color-hs), var(--achromatic-color-light));
    box-shadow: none;
    cursor: not-allowed;
}

input[type="checkbox"]:checked:disabled {
    border: 0.4em solid hsl(var(--achromatic-color-hs), var(--achromatic-color-base));
}

input[type="checkbox"]:disabled+span {
    cursor: not-allowed;
}

/** InputField **/
.inputfield {
    padding: 0.7em 0.5em;
    border: max(2px, 0.15em) solid hsl(var(--achromatic-color-hs), var(--achromatic-color-darker));
    border-radius: 0;
}

.inputfield:hover {
    box-shadow: 0 0 0 max(2px, 0.15em) hsl(var(--achromatic-color-hs), var(--achromatic-color-light));
}

.inputfield:focus {
    outline: none;
    border: max(2px, 0.15em) solid hsl(var(--primary-color-hs), var(--primary-color-base));
}

.inputfield:disabled {
    outline: none;
    border: max(2px, 0.15em) solid hsl(var(--achromatic-color-hs), var(--achromatic-color-light));
}

/** Slider **/
input[type="range"] {
    appearance: none;
    outline: none;
    border-radius: 0.2em;
    height: 0.3em;
    background: linear-gradient(
        to right,
        hsl(var(--primary-color-hs), var(--primary-color-base)) 0%,
        hsl(var(--primary-color-hs), var(--primary-color-base)) calc((var(--value) / (var(--max) - var(--min))) * 100%),
        hsl(var(--primary-color-hs), var(--primary-color-lighter)) calc((var(--value) / (var(--max) - var(--min))) * 100%),
        hsl(var(--primary-color-hs), var(--primary-color-lighter)) 100%
    );
}
input[type="range"]:disabled {
    background: linear-gradient(
        to right,
        hsl(var(--achromatic-color-hs), var(--achromatic-color-base)) 0%,
        hsl(var(--achromatic-color-hs), var(--achromatic-color-base)) calc((var(--value) / (var(--max) - var(--min))) * 100%),
        hsl(var(--achromatic-color-hs), var(--achromatic-color-lighter)) calc((var(--value) / (var(--max) - var(--min))) * 100%),
        hsl(var(--achromatic-color-hs), var(--achromatic-color-lighter)) 100%
    );
    cursor: not-allowed;
}

input[type="range"]::-webkit-slider-thumb { /* Thumb style for Chrome */
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: max(4px, 0.2em) solid hsl(var(--primary-color-hs), var(--primary-color-base));
    background: var(--white-color);
    cursor: pointer;
}
input[type="range"]:disabled::-webkit-slider-thumb {
    border: max(4px, 0.2em) solid hsl(var(--achromatic-color-hs), var(--achromatic-color-base));
}
input[type="range"]:hover:not(:disabled)::-webkit-slider-thumb {
    box-shadow: 0 0 0 max(4px, 0.2em) hsla(var(--primary-color-hs), var(--primary-color-lighter), var(--transparent-base));
}
input[type="range"]:focus:not(:disabled)::-webkit-slider-thumb {
    box-shadow: 0 0 0 max(4px, 0.2em) hsla(var(--primary-color-hs), var(--primary-color-light), var(--transparent-base));
}
input[type="range"]:active:not(:disabled)::-webkit-slider-thumb {
    border: max(4px, 0.2em) solid hsl(var(--primary-color-hs), var(--primary-color-dark));
    box-shadow: 0 0 0 max(4px, 0.2em) hsla(var(--primary-color-hs), var(--primary-color-base), var(--transparent-base));
}

input[type="range"]::-moz-range-thumb { /* Thumb style for Firefox */
    width: 1em;
    height: 1em;
    border: max(4px, 0.2em) solid hsl(var(--primary-color-hs), var(--primary-color-base));
    background: var(--white-color);
    cursor: pointer;
}
input[type="range"]:disabled::-moz-range-thumb {
    border: max(4px, 0.2em) solid hsl(var(--achromatic-color-hs), var(--achromatic-color-base));
    cursor: not-allowed;
}
input[type="range"]:hover:not(:disabled)::-moz-range-thumb {
    box-shadow: 0 0 0 max(4px, 0.2em) hsla(var(--primary-color-hs), var(--primary-color-lighter), var(--transparent-base));
}
input[type="range"]:focus:not(:disabled)::-moz-range-thumb {
    box-shadow: 0 0 0 max(4px, 0.2em) hsla(var(--primary-color-hs), var(--primary-color-light), var(--transparent-base));
}
input[type="range"]:active:not(:disabled)::-moz-range-thumb {
    border: max(4px, 0.2em) solid hsl(var(--primary-color-hs), var(--primary-color-dark));
    box-shadow: 0 0 0 max(4px, 0.2em) hsla(var(--primary-color-hs), var(--primary-color-base), var(--transparent-base));
}

/* IconButton */
button.icon {
    aspect-ratio: 1;
    text-align: center;
    vertical-align: baseline;
    padding: 8px;
    /** Color **/
    color: hsl(var(--primary-color-hs), var(--primary-color-base));
    /** Remove background **/
    background-color: hsla(var(--primary-color-hs), var(--primary-color-base), var(--transparent-none));
}

button.icon:focus {
    outline: none;
}

button.icon:disabled {
    color: hsl(var(--achromatic-color-hs), var(--achromatic-color-base));
}

button.icon:hover:not(:disabled) {
    /** Overlay Shadow **/
    background-color: hsla(var(--primary-color-hs), var(--primary-color-base), var(--achromatic-color-base));
}

button.icon:active:not(:disabled) {
    /** Overlay Shadow **/
    background-color: hsla(var(--primary-color-hs), var(--primary-color-base), var(--achromatic-color-light));
}

/** Text styles **/
.text.display {
    font-weight: 400;
}
.text.display.large {
    font-size: 57pt;
    line-height: 64pt;
}
.text.display.medium {
    font-size: 45pt;
    line-height: 52pt;
}
.text.display.small {
    font-size: 36pt;
    line-height: 44pt;
}

.text.title {
    font-weight: 500;
}
.text.title.large, h1 {
    font-weight: 400;
    font-size: 22pt;
    line-height: 28pt;
}
.text.title.medium, h2 {
    font-size: 16pt;
    line-height: 24pt;
}
.text.title.small, h3 {
    font-size: 14pt;
    line-height: 20pt;
}

.text.body {
    font-weight: 400;
}
.text.body.large {
    font-size: 16pt;
    line-height: 24pt;
}
.text.body.medium, p {
    font-size: 14pt;
    line-height: 20pt;
}
.text.body.small {
    font-size: 12pt;
    line-height: 16pt;
}

.text.label {
    font-weight: 500;
}
.text.label.large {
    font-size: 14pt;
    line-height: 20pt;
}
.text.label.medium {
    font-size: 12pt;
    line-height: 16pt;
}
.text.label.small {
    font-size: 11pt;
    line-height: 16pt;
}

/** Layouts **/
div.layout {
    padding: 0.5em 1em 0.5em 1em;
}

div.layout.sheet {
    border-radius: 0;
    margin: 1em 0 1em 0;
}
div.layout.sheet.outlined {
    outline: solid 1px hsl(var(--achromatic-color-hs), var(--achromatic-color-lighter));
}
div.layout.sheet.colored {
    background: hsl(var(--achromatic-color-hs), var(--achromatic-color-lighter));
}

div.layout.item {
    display: block;
}

div.layout.gridview {
    outline: solid 1px hsl(var(--achromatic-color-hs), var(--achromatic-color-lighter));
    border-radius: 0;
    display: grid;
    row-gap: 2px;
    column-gap: 2px;
    align-items: stretch;
    justify-items: stretch;
    padding: 0;
    /* Number of items */
    grid-template-columns: repeat(auto-fit, minmax(10%, auto));
}

/** Paragraphs **/
strong, b {
    font-style: normal;
    font-weight: bold;
}
em, i, .italic {
    font-style: italic;
    font-weight: normal;
}
em.dotted, i.dotted, .italic.dotted {
    font-style: normal;
    text-emphasis: dot;
}
.underline {
    text-decoration: underline;
    text-decoration-style: solid;
}
.underline.wavy, u.wavy {
    text-decoration-style: wavy;
}
.underline.dotted, u.dotted {
    text-decoration-style: dotted;
}
.underline.dashed, u.dashed {
    text-decoration-style: dashed;
}
.overline {
    text-decoration: overline;
    text-decoration-style: solid;
}
.overline.wavy {
    text-decoration-style: wavy;
}
.overline.dotted {
    text-decoration-style: dotted;
}
.overline.dashed {
    text-decoration-style: dashed;
}
.highlight, .highlight.yellow {
    box-shadow: inset 0 -1em 0 gold;
}
.highlight.green {
    box-shadow: inset 0 -1em 0 lightgreen;
}
.highlight.pink {
    box-shadow: inset 0 -1em 0 lightpink;
}
.highlight.blue {
    box-shadow: inset 0 -1em 0 lightskyblue;
}

/** Documents Default **/
body {
    background: white;
}